.App {
  text-align: center;
}

.App-logo {
  height: 50vmin; /* Alterando o tamanho do logotipo para 50% do viewport */
  pointer-events: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionando uma sombra ao logotipo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #007bff; /* Alterando a cor de fundo do cabeçalho para azul */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dc3545; /* Alterando a cor do texto do link para vermelho */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
